---
import type { ImageMetadata } from 'astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { HOMEPAGE_URL, SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { Image } from 'astro:assets';
import Masthead from '../components/Masthead.astro'
import { IoArrowForward } from 'react-icons/io5';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');

const posts = (await Astro.glob('./posts/*.md')).sort(
  (a: any, b: any) => 
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf())
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header />
		<main class="pt-[56px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            I&apos;m an indie developer passionate about technology and
            building innovative solutions. This space showcases my
            personal and professional projects, where you’ll find the use of
            various technologies such as React, Node.js, Tailwind CSS, Prisma, and more.
            Each project highlights my growth as a developer and my dedication to quality and
            efficient design. I also share insights into the creative and
            technical process behind each application.
            Explore my portfolio and discover how I can help bring ideas to life.
          <a href={HOMEPAGE_URL}
             class="inline-flex items-center gap-1 indent-1 text-orange-500"
            >
            Learn more about me <IoArrowForward className="inline"/>
          </a>
				  </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => {
                const heroImageAsset = images[post.frontmatter.heroImage]
                const heroImageSrc = heroImageAsset ? 
                heroImageAsset(): post.frontmatter.heroImage
                return (
                  <a href={post.url}>
                    <Image 
                      class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                      src={heroImageSrc}
                      width={720}
                      height={720 / 1.777}
                      alt="Thumbnail"
                      />
                    <div class="mt-3 text-xl font-bold">
                      {post.frontmatter.title}
                    </div>
                    {post.frontmatter.description && (
                    <div class="opacity-70">
                      {post.frontmatter.description}
                    </div>
                    )}
                  </a>
                )
                })
            }
          </ul>
        </section>
      </Content>
		</main>
		<Footer />
	</Body>
</html>
